@font-face {
    font-family: Lemon-Regular;
    src: url(./resources/Lemon-Regular.ttf);
  }

@keyframes pane-enter {
    0% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
        display: grid;
    }
}

@keyframes pane-exit {
    0% {
        opacity: 1;
        display: grid;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes symbol-enter {
    0% {
        opacity: 0;
        display: none;
        width: 0%;
        position: relative;
        left: 50%;
        top: 50%;
    }
    100% {
        opacity: 1;
        display: block;
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
    }
}

@keyframes symbol-exit {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes symbol-win {
    0% {
        opacity: 1;
        fill: var(--active-col);
    }
    100% {
        opacity: 0;
        fill: var(--dark-col);
    }
}

* {
    margin: 0px;
    font-family: Lemon-Regular, Arial, Helvetica, sans-serif;
}

:root {
    --hover-col: rgb(231, 220, 255);
    --active-col: rgb(137, 132, 206);
    --light-col: rgb(250, 245, 255);
    --light-col-fade: rgba(250, 245, 255, 0.5);
    --dark-col: rgb(71, 77, 133);
    --darker-col: rgb(24, 26, 34);
    /* --icon-col:rgba(24, 26, 34, 0.295); */
    --icon-col:rgba(65, 74, 153, 0.295);
    --message-col: rgba(250, 245, 255, 0.97);
    --message-font-size: min(3.5vh, 3.5vw);
    --message-choice-font-size: min(2vh, 2vw);
    --padding: min(2vh, 2vw);
    --padding-2x: calc(var(--padding) * 2);
    --game-width: min(60vh, 60vw);
    --game-padded-width: calc(var(--game-width) + var(--padding-2x));
    --scoreboard-height: min(20vh, 20vw);
    --scoreboard-padded-height: calc(var(--scoreboard-height) + var(--padding-2x));
    --board-height: min(60vh, 60vw);
    --board-padded-height: calc(var(--board-height) + var(--padding-2x));
    --scoreboard-font-size: min(3vh, 3vw);
    user-select: none;
}

.bg {
    background-color: var(--dark-col);
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    /* grid-template-columns: min(50vh, 50vw); */
    /* grid-template-rows: min(60vh, 60vw); */
    /* grid-template-rows: min(50vh, 50vw); */
    box-shadow: 5px 5px 64px var(--darker-col) inset;
}

.text {
    filter: drop-shadow(2px 2px 2px var(--dark-col));
}

.title-pane {
    color: var(--dark-col);
    grid-area: 1 / 1 / 2 / 2;
    padding: var(--padding);
    /* height: 120px; */
    border-radius: 6px 6px 0px 0px;
    background-color: var(--hover-col);
    display: grid;
    /* row-gap: var(--padding); */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* justify-items: center; */
    /* align-items: center; */
    /* align-content: center; */
    /* grid-area: 1 / 1 / 1 / 4; */
    /* color: var(--light-col); */
    box-shadow: 0px -2px 20px var(--hover-col), 
        0px -10px 48px var(--hover-col);
}

.title-header {
    font-size: min(4.5vh, 4.5vw);
    text-align: center;
 }

.setup-section {
    display: grid;
    align-items: center;
    gap: calc(var(--game-padded-width) / 7);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: min(1.5vh, 1.5vw);
    /* padding-bottom: var(--padding); */
}

.setup.p0 {
    justify-self: start;
}

.setup.p1 {
    justify-self: end;
}
.setup > input {
    color: var(--dark-col);
    border-color: var(--dark-col);
    border-radius: 4px;
    margin-top: max(min(0.5vh, 0.5vw), 2px);
    margin-bottom: max(min(0.5vh, 0.5vw), 2px);
    font-size: min(1.5vh, 1.5vw);
    filter: drop-shadow(1px 1px 2px var(--dark-col));
}

.icon-pane {
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--dark-col);
    height: min(60vh, 60vw);
    width: min(60vh, 60vw);
    display: grid;
    padding: var(--padding);
    gap: calc(var(--game-padded-width) / 7);
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: min(10vh, 10vw) 1fr 1fr 1fr; */
    grid-template-rows: 1fr;
    border-radius: 0px 0px 6px 6px;
    /* box-shadow: 0px 2px 20px var(--dark-col), 0px -2px 20px var(--dark-col), 
        0px 20px 128px var(--light-col-fade), 0px -1px 20px var(--light-col-fade); */
    box-shadow: 0px -2px 20px var(--dark-col), 
        0px -10px 48px var(--light-col-fade);
}

.setup {
    display: grid;
    justify-content: center;
    align-content: center;
    /* text-align: center; */
}

.player-type {
    display: grid;
    gap: max(min(0.5vh, 0.5vw), 2px);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: min(1vh, 1vw);
}

.title-footer {
    align-self: end;
    justify-self: end;
}

.title-footer > .cell,
.message > .light-bg-button.cell {
    font-size: var(--message-choice-font-size);
    padding: calc(var(--padding) * 0.5);
}

.icon-select {
    display: grid;
    gap: max(min(0.5vh, 0.5vw), 2px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.game, .menu {
    grid-area: 1 / 1 / 2 / 2;
}

.game, .menu {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: var(--game-padded-width);
    grid-template-rows: var(--scoreboard-padded-height) var(--board-padded-height);
    /* background-color: var(--dark-col); */
    border-radius: 6px;
    box-shadow: -16px -16px 20px var(--dark-col), 16px -16px 20px var(--dark-col),
        0px 8px 20px var(--dark-col), 
        20px 2px 96px var(--light-col-fade), -20px -20px 96px var(--light-col-fade);
}

.board {
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--dark-col);
    height: min(60vh, 60vw);
    width: min(60vh, 60vw);
    display: grid;
    padding: var(--padding);
    gap: max(min(2vh, 2vw), 5px);
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: min(10vh, 10vw) 1fr 1fr 1fr; */
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 0px 0px 6px 6px;
    /* box-shadow: 0px 2px 20px var(--dark-col), 0px -2px 20px var(--dark-col), 
        0px 20px 128px var(--light-col-fade), 0px -1px 20px var(--light-col-fade); */
    box-shadow: 0px -2px 20px var(--dark-col), 
        0px -10px 48px var(--light-col-fade);
}

.message {
    color: var(--dark-col);
    font-size: var(--message-choice-font-size);
    grid-area: 1 / 1 / 2 / 2;
    padding: var(--padding);
    border-radius: 6px 6px 0px 0px;
    background-color: var(--hover-col);
    box-shadow: 0px -2px 20px var(--hover-col), 
        0px -10px 48px var(--hover-col);
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.message > .text {
    grid-area: 1 / 1 / 1 / 3;
    font-size: var(--message-font-size);
}

.scoreboard {
    grid-area: 1 / 1 / 2 / 2;
    padding: var(--padding);
    /* height: 120px; */
    border-radius: 6px 6px 0px 0px;
    background-color: var(--dark-col);
    display: grid;
    /* column-gap: calc(var(--game-width) / 3); */
    grid-template-columns: calc(var(--game-width) / 3) calc(var(--game-width) / 3);
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    align-content: center;
    /* grid-area: 1 / 1 / 1 / 4; */
    color: var(--light-col);
}

.scoreboard > .back-to-menu {
    grid-area: 1 / 1 / 2 / 2;
    width: 15%;
    justify-self: start;
    align-self: start;
    z-index: 9;
}

.scoreboard > .back-to-menu > svg {
    width: 100%;
    fill: var(--light-col);
    filter: drop-shadow(1px 1px 1px var(--light-col));
    cursor: pointer;
    /* top: -20px; */
}

.scoreboard > .back-to-menu:hover > svg {
    fill: var(--hover-col);
    background-color: #00000000;
    filter: drop-shadow(1px 1px 1px var(--hover-col));
}

.scoreboard > .back-to-menu:active > svg {
    fill: var(--active-col);
    background-color: #00000000;
    filter: drop-shadow(1px 1px 1px var(--active-col));
}

.name, .score, .current-player {
    filter: drop-shadow(2px 2px 2px var(--light-col));
}

.name {
    font-size: var(--scoreboard-font-size);
    align-self: end;
    text-align: center;
}

.name.pl0 {
    grid-area: 1 / 1 / 2 / 2;
}


.name.pl1 {
    grid-area: 1 / 3 / 2 / 4;
}

.pl-svg.pl0 {
    grid-area: 1 / 1 / 3 / 2;
    width: 100%;
}

.pl-svg > svg {
    fill: var(--icon-col);
    background-color: #00000000;
    filter: drop-shadow(3px 3px 3px var(--darker-col));
}

.pl-svg.pl1 {
    grid-area: 1 / 3 / 3 / 4;
    width: 100%;
}

.score {
    font-size: calc(var(--scoreboard-font-size) * 2);
    align-self: start;
}

.score.pl0 {
    grid-area: 2 / 1 / 3 / 2;
}

.score.pl1 {
    grid-area: 2 / 3 / 3 / 4;
}

.current-player {
    grid-area: 1 / 2 / 2 / 3;
    align-self: center;
    justify-self: center;
    font-size: var(--message-choice-font-size);
    text-align: center;
}

.current-player-arrow {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    align-items: start;
    justify-items: center;
}

.current-player-arrow > svg {
    width: 30%;
    fill: var(--light-col);
    background-color: #00000000;
    filter: drop-shadow(2px 2px 2px var(--light-col));
    position: relative;
    bottom: min(5vh, 5vw);
    left: -8.88%;
}

.current-player-arrow > svg.right {
    left: 8.88%;
}

.cell {
    background-color: var(--light-col);
    border-radius: 2px;
    box-shadow: 1px 1px 4px var(--active-col);
    display: grid;
}

.board.cpu-turn {
    cursor: wait;
}

.board:not(.game-over):not(.cpu-turn) > .cell.selectable:hover, 
.icon-select > .cell:hover:not(.selected),
.light-bg-button.cell:hover:not(.selected) {
    background-color: var(--hover-col);
    box-shadow: 1px 1px 4px var(--active-col);
    cursor: pointer;
}

.title-pane .cell:hover:not(.selected) {
    box-shadow: 1px 1px 4px var(--dark-col);
    cursor: pointer;
}

.board:not(.game-over):not(.cpu-turn) > .cell.selectable:active,
.icon-select > .cell:active:not(.selected),
.icon-select > .cell.selected,
.light-bg-button.cell:active:not(.selected),
.light-bg-button.cell.selected {
    background-color: var(--active-col);
    box-shadow: 1px 1px 4px var(--active-col);
    cursor: pointer;
}

.light-bg-button.cell:active:not(.selected),
.light-bg-button.cell.selected {
    box-shadow: 1px 1px 4px var(--dark-col);
}

.light-bg-button.cell {
    display: grid;
    /* justify-content: center; */
    align-content: center;
    text-align: center;
    border-radius: min(1vh, 1vw);
}

.icon-pane > .icon-select > .cell.selected {
    cursor: auto;
}

.light-bg-button.cell.selected {
    cursor: auto;
}

.icon-pane > .icon-select > .cell.other-selected {
    background-color: var(--light-col-fade);
    box-shadow: 1px 1px 2px var(--light-col-fade);
    cursor: auto;
}

.cell.other-selected {
    position: relative;
}

.cell.other-selected > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    fill: var(--darker-col);
    background-color: #00000000;
    filter: drop-shadow(2px 2px 2px var(--darker-col));
}

.cell.other-selected > svg.cancel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    fill: var(--dark-col);
    background-color: #00000000;
    filter: drop-shadow(2px 2px 2px var(--dark-col));
}

.cell.selected > svg {
    fill: var(--hover-col);
    background-color: #00000000;
    filter: drop-shadow(2px 2px 2px var(--hover-col));
}

svg {
    fill: var(--dark-col);
    background-color: #00000000;
    filter: drop-shadow(2px 2px 2px var(--dark-col));
}

.win > svg {
    fill: var(--active-col);
    background-color: #00000000;
    filter: drop-shadow(2px 2px 2px var(--active-col));
    animation: 0.5s infinite alternate ease-in-out symbol-win;
}

/* .board > .cell > .svg {

} */

.unhidden {
    animation: 0.25s pane-enter;
}

.hidden {
    animation: 0.25s pane-exit;
    display: none;
}

.symbol-placed {
    animation: 0.25s symbol-enter;
}

.symbol-removed {
    animation: 0.25s symbol-exit;
}